  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Nunito+Sans:wght@300&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;

}
:root{
    --text-color:whitesmoke;
    --dark-back-ground:#32b7a7;
    /* linear-gradient(to bottom,#13547a,#80d0c7); */
    --light-back-ground:#2590a5;
    /* linear-gradient(to left,#74ccc8,#33a8a2); */
    --button:#434343;
}
body{
    background: var(--light-back-ground);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.title{
    font-size: 40px;
    font-weight: 700;
    color:var(--text-color);
    letter-spacing: 1px;
    margin: 25px 0;
}
#add-bttn{
    border: none;
    border-radius: 5px;
    background-color: var(--button);
    outline: none;
    font-size:15px;
    color:var(--text-color);
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 10px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 80vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(241, 236, 236);
    /* margin-bottom: 20px; */
    background: var(--dark-back-ground);
}

.item input[type="checkbox"]{
    margin-right: 5px;

}
.item:last-of-type{
    margin-bottom: 0;
}
.item input[type="text"]{
    appearance: none;
	background: none;
	border: none;
	outline: none;
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	flex: 1 1 0%;
	margin-right: 1rem;
    text-overflow:clip;
}
.item input[type="text"]:not(:disabled){
    border-bottom: 2px solid white;
}
.item.complete{
    opacity: 0.6;
    text-decoration: line-through;
}

.item-bttn{
    display: flex;
    align-items: center;
    gap: 6px;
}
.item:hover{
    outline: 2px solid white;
}
.item-bttn button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--button);
    outline: none;
    font-size:15px;
    color:var(--text-color);
    cursor: pointer;
}